{% extends 'app.twig' %}
{% block stylesheets %}
    <style rel="stylesheet">
        .w-50px{
            min-width: 50px!important;
            width: 50px!important;
        }

        .w-120px{
            min-width: 120px!important;
            width: 135px!important;
        }

        .btn-outline-secondary:hover{
            background-color: #212529;
            border-color: #111;
        }
    </style>
{% endblock %}
{% block nav_content %}
    {% include 'components/nav_dropdown.twig' %}
{% endblock %}

{% block content %}
    {% if user.role == 'admin' or user.role == 'writer' %}
        <form action="/add-problem" method="post">
            <div class="input-group mb-3">
                <input type="text" name="problem" class="form-control" placeholder="Проблема" aria-describedby="button-addon">
                <input type="text" name="solution" class="form-control" placeholder="Решение" aria-describedby="button-addon">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon">Добавить</button>
            </div>
        </form>
    {% endif %}

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col" class="w-50px">#</th>
            <th scope="col" class="col">Проблема</th>
            <th scope="col" class="col">Решение</th>
            <th scope="col" class="w-120px">Оценка</th>
        </tr>
        </thead>
        <tbody id="entities">
        {% for row in rows %}
        <tr id="r-{{ row.id }}">
            <th scope="row">{{ row.id }}</th>
            <td>{{ row.problem }}</td>
            <td>{{ row.solution }}</td>
            <td>
                {% if user.role == 'admin' or user.role == 'evaluator' %}
                    <div class="d-inline" role="button" onclick="onRatingClick(event)" onmouseleave="onRatingOut(event)" rating="{{ row.mark }}">
                        {% if row.mark != 0 %}
                            {% for i in range(1, row.mark) %}

                                <i class="bi bi-star-fill" onmouseover="onRatingHover(event)"></i>

                            {% endfor %}
                        {% endif %}

                        {% if row.mark != 5 %}
                            {% for i in range(1, 5-row.mark) %}

                                <i class="bi bi-star" onmouseover="onRatingHover(event)" ></i>

                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="d-inline">
                        {% if row.mark != 0 %}
                            {% for i in range(1, row.mark) %}

                                <i class="bi bi-star-fill"></i>

                            {% endfor %}
                        {% endif %}

                        {% if row.mark != 5 %}
                            {% for i in range(1, 5-row.mark) %}

                                <i class="bi bi-star"></i>

                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                {% if user.role == 'admin' %}
                    <div class="dropdown d-inline">
                        <a class="nav-link dropdown-toggle d-inline p-0 link-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </a>
{#                        <form method="post" action="{{ path_for('admin.edit.action') }}">#}
{#                            <input type="hidden" value="{{ row.id }}">#}
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><h6 class="dropdown-header">Редактирование</h6></li>
                                <li><a class="dropdown-item" href="#problem">Изменить проблему</a></li>
                                <li><a class="dropdown-item" href="#solution">Изменить решение</a></li>
                                <li><a class="dropdown-item" href="#deleteMark">Удалить оценку</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" onclick="deleteEntry(event, {{ row.id }})">Удалить запись</a></li>
                            </ul>
{#                        </form>#}
                    </div>
                {% endif %}

            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}

    {% if pages_count > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                    {% set prev_btn_disabled = false %}
                {% else %}
                    {% set prev_btn_disabled = true %}
                {% endif %}

                {% if page != pages_count %}
                    {% set next_btn_disabled = false %}
                {% else %}
                    {% set next_btn_disabled = true %}
                {% endif %}

                <li class="page-item {{ prev_btn_disabled ? 'disabled' : '' }}">
                    <a class="page-link" href="/{{ page - 1 }}" tabindex="-1"  aria-disabled="{{ prev_btn_disabled }}">Назад</a>
                </li>

                {% set nav_size = 11 %}

                {% if pages_count < nav_size %}
                    {% for i in 1..pages_count %}
                        {% if i == page %}
                            <li class="page-item active"><a class="page-link" href="/{{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/{{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% else %}

                    {% if page - nav_size // 2 <= 0 %}
                        {% set start = 1 %}
                        {% set end = start + nav_size - 1 %}
                    {% elseif page + nav_size // 2 >= pages_count %}
                        {% set end = pages_count %}
                        {% set start = end - nav_size %}
                    {% else %}
                        {% set start = page - nav_size // 2 %}
                        {% set end = page + nav_size // 2 %}
                    {% endif %}

                    {% for i in start..end %}
                        {% if i == page %}
                            <li class="page-item active"><a class="page-link" href="/{{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/{{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <li class="page-item {{ next_btn_disabled ? 'disabled' : '' }}">
                    <a class="page-link" href="/{{ page + 1 }}" aria-disabled="{{ next_btn_disabled }}">Вперед</a>
                </li>

            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="/scripts/scripts.js"></script>
{% endblock %}
